# This is a sample file identical to the one in the 'Alzkb_Q_A_Embedding' folder. Please copy this file into '.env' and modify it accordingly.
# For each variable, replace the current value with your specific details.

# Project version
TAG=0.1.0a0

# Azure OpenAI API
OPENAI_API_TYPE=azure
OPENAI_API_BASE=https://caire-azure-openai.openai.azure.com/
OPENAI_API_VERSION=2023-05-15
OPENAI_API_KEY=YOUR_API_KEY
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002

# Weaviate Server Settings
WEAVIATE_URL=http://localhost:8080
WEAVIATE_API_KEY=insert-server-key